* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card img {
  transition: transform 0.4s ease;
}

.card img:hover {
  transform: scale(1.1);
}

.End {
    text-align: center;
    padding: 50px;
    background-color: #000;
    color: aliceblue;
}

.End img {
    display: block;       
    margin: 0 auto;       
    height: 40px;
    transition: all 0.3s ease; 
}


.End img:hover {
    transform: scale(1.2);             
    box-shadow: 0 0 20px rgb(79, 107, 112);
}


body {
    background: linear-gradient(to right, #93a3ac, #969ca5);
}
